#HomeForm{
    height: 70vh;
    width: 35vw;
    border: 2px solid black;
    background-color: white;
    margin-top: 5vh;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5); 
    display: flex;
    flex-direction: column;
    align-items: center;
}
#NameHeader{
    position: absolute;
    margin-bottom: 80vh;
    font-size: 3rem;
    color: white;
}
#NameFormHeader{
    color: black;
    font-size: 1.3rem;
    font-weight: 400;
}
#OptionsHolder{
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin-top: 5vh;
    margin-top: -2vh;
    color: black;
    height: 40vh;
    align-items: flex-start;
    width: 15vw;
}
.CheckboxOptions{
    margin-left: 5vh;
    margin-top: 1vh;
}
#CheckboxLabel{
    font-size: 1.2rem;
    font-weight: 500;
}
#HomeButton{
    width: 10vw;
    height: 4vh;
    border: none;
    background-color: blue;
    border-radius: 4px;
    margin-top: 2vh;
    font-size: 1rem;
}
#HomeButton:hover{
    cursor: pointer;
    transition: 0.3s all;
    background-color: #4a86ed;
}
#NameInputLabel{
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
    margin-right: 6vw;
    margin-top: 1vh;
}
#NameInput{
    width: 15vw;
    height: 3vh;
    border-radius: 4px;
    margin-bottom: 2vh;
    border: 1px solid black;
    color: black;
    padding: 5px; 
    font-size: 1rem;
    background-color: white;
}
#NameInputLabelHelper{
    color: black;
    font-size: 0.7rem;
    margin-top: -1vh;
}
@media(max-width: 480px){
    #HomeForm{
        width: 90vw;
        height: 65vh;
        margin-top: -20vh;
    }
    #NameHeader{
        margin-top: -10vh;
        font-size: 2rem;
    }
    #OptionsHolder{
        width: 60vw;
    }
    #NameInput{
        width: 35vw;
    }
    #HomeButton{
        width: 35vw;
        margin-top: -1vh;
    }
}