#StartBG {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    height: 90%;
    width: 100%;
    background: linear-gradient(to bottom, #5c8de0, white);
    top: 0;
    position: absolute;
    left: 0;
}
#StartContainer {
    display: flex;
    width: 50vw;
    background-color: #f2f2f2;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5); 
}
.StartHalves {
    flex: 1;
    height: 65vh; 
    width: 25vw;
}
#StartHalfOne {
    background-color: #82b0ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#StartHalfOne p{
    font-size: 1.1rem;
    color: #333333;
}
#StartHalfTwo {
    background-color: #f2f2f2;
    display: flex;
    color: #333333;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}
#StartHalfTwo h3{
    font-size: 1.5rem;
    font-weight: 500;
}
#StartHalfTwo p{
    font-size: 1.3rem;
    font-weight: 300;
}
#StartAsk{
    font-size: 2.5rem;
    color: #f2f2f2;
    font-weight: 100;
}
#GoogleLogin{
    height: 5vh;
    width: 10vw;
    background-color: #417ee8;
    border: 1px solid black;
    text-align: center;
    border-radius: 6px;
}
#GoogleLogo{
    height: 4vh;
    fill: #417ee8; 
    vertical-align: middle;
    width: 2vw;
}
#GoogleLogin:hover{
    cursor: pointer;
    transition: 0.3s all;
    background-color: #4a86ed;
}
#EmailLogin{
    height: 5vh;
    width: 10vw;
    background-color: #44484f;
    border: 1px solid black;
    border-radius: 6px;
}
#EmailLogin:hover{
    cursor: pointer;
    transition: 0.3s ease;
    background-color: #565c66;
}

@media(max-width: 480px){
    #StartContainer{
        width: 90vw;
    }
    #GoogleLogin{
        width: 25vw;
    }
    #EmailLogin{
        width: 25vw;
    }
    #GoogleLogo{
        height: 5vh;
        width: 8vw;
    }
}